#hn-help-doc-page-wrapper {
  background-image: url('https://orangop.us/img/top.png');
  background-repeat: none;
  background-size: cover;
  background-position: 50%;
}

.doc-page-title {
  text-align: left !important; 
}

#hn-help-doc-page-wrapper .doc-brand-logo img {
    max-width: 50px !important;
    max-height: 50px !important;
}

.hn-collections-cards-style {
    border-radius 10px;
    border: none !important;
    transition: transform .2s;
}

.hn-collections-cards-style:hover {
    border: none !important;
    transform: scale(1.1);
}
