@import url('https://fonts.googleapis.com/css?family=Averia+Libre&display=swap');

#hn-help-doc-page-wrapper {
  background-image: url('https://orangop.us/img/top.png');
  background-repeat: none;
  background-size: cover;
  background-position: 50%;
}

.doc-page-title {
  text-align: left !important; 
  font-family: "Averia Libre";
}

#hn-help-doc-page-wrapper .doc-brand-logo img {
    max-width: 50px !important;
    max-height: 50px !important;
}

.hn-doc-home-page .hn-collections-cards-style {
    border-radius: 20px;
    border: none !important;
    transition: transform .2s;
}

.hn-doc-home-page .hn-collections-cards-style:hover {
    border: none !important;
    transform: scale(1.05);
}

.hn-vertical-line {
  display: none;
}

.doc-page-name {
  display: none; 
}

.article-label-arrow .article-count {
  display: none;
}
